services:
  web:
    build: .
    container_name: restaurant_hub_web
    volumes:
      - .:/app
      - bundle:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres

  db:
    image: postgres:16
    container_name: restaurant_hub_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: restaurant_hub_development
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"



